*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lora', serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    font-family: 'Bitter', serif;
    color: #FF6600;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    
}


/* Wireframes */
figure {
    margin: 20px 0;
    text-align: center;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

/* Lists */
ul {
    padding-left: 20px;
    
}

strong {
    color:#FAA613;
}