/* Affichage mobile */
@media (max-width: 768px) {
   

      /* cacher le menu au départ */
    .nav-bar ul {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 25%;
        height: auto;
        padding: 1rem 5px;
        margin: 1rem 5px;
        border-radius: 20px;

    }

    nav ul.show {
        display: flex;
    }

    #menu {
        display: block;
        z-index: 1001;
        color: var(--text-color);
    }

    header {
        flex-wrap: wrap;
    }

    /* quand on clique sur ☰ */
    .nav-bar.show ul {
        display: flex;
    }

    nav ul li a {
        font-size: 1.1rem;
        padding: 0.5rem;
        border-bottom: 1px solid var(--text-color);
    }

    .footer-link {
        width: 25%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 1px;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }

    /* === */

    
    .hero-image {
        height: auto;
    }
    .hero-text {
        font-size: 1rem;
        padding: 0.5rem;
    }


    
   
}