:root{
    --background-color: #9a999b;
    --accent-color: #FA8334;
    --text-color: #fff;
    --text-color-accent: black;
    --muted: #FFC15E;
    --font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px) {

    /* bouton visible sur mobile */
    #menu {
        display: block;
        z-index: 1001;
    }

    /* cacher le menu au départ */
    .nav-bar ul {
        display: none;
        flex-direction: column;
        background-color: var(--accent-color);
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    }

    /* quand on clique sur ☰ */
    .nav-bar.show ul {
        display: flex;
    }

    .nav-bar ul li a {
        color: var(--text-color-accent);
        font-size: 1.2rem;
        display: block;
        transition: background-color 0.3s;
        border-bottom: 2px solid var(--text-color-accent);
        text-align: start;
    
    }

    .nav-bar ul li a:hover {
        color: var(--text-color);
    }
    
    .photo-about img {
        width: 50%;
        height: auto;
    }

    .information {
        display: block;
    }

    .control {
        flex-direction: row;
        align-items: center;
    }

    .control .btn-filter {
        width: 80%;
    }
}