/* Barre de navigation transparente */
.navbar {
  position: fixed;     /* reste en haut même au scroll */
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0); /* 100% transparent */
  backdrop-filter: blur(0px);         /* optionnel */
  z-index: 1000;
}

/* Barre de navigation transparente */
.navbar {
  position: fixed;     /* reste en haut même au scroll */
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0); /* 100% transparent */
  backdrop-filter: blur(0px);         /* optionnel */
  z-index: 1000;
}

/* Quand tu veux léger effet transparent flou (optionnel) */
.navbar.transparent {
  
  backdrop-filter: blur(10px);
}

/* Style du menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white; /* change selon ton background */
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}

header {
  width: 100%;
  height: 60vh;
  background: transparent;
}

